<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc
 		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
 		 http://code.alibabatech.com/schema/dubbo
 		  http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

   <!-- <dubbo:annotation package="com.casting.controller"/>-->
   <context:component-scan base-package="com.casting.controller"/>

    <!--开启MVC注解扫描 如果配置了此注解驱动，那么就不用配置处理器映射器和处理器适配器了 -->
    <mvc:annotation-driven/>
    <!--静态资源映射-->
    <mvc:default-servlet-handler/>
    <!--
    <mvc:resources mapping="/css/**/" location="/css/"/>
    -->
    <!--定义视图解析器ViewResolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--引用dubbo服务-->
    <dubbo:application name="casting_manager_web"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181" register=""/>
    <dubbo:reference interface="com.casting.service.ItemService" id="itemService"/>
</beans>